{% extends "base.html" %}
{% block title %}Delete Trip{% endblock %}
{% block content %}
<h1 class="mt-5" style="color: rgb(247, 0, 0);">Delete This Trip?</h1>
<h2 class="mt-5">{{trip['name']}}</h2>
<table class="table">
    <tr>
        <th>Start Date:</th><td padding-left="50px">{{trip['start_date']}}</td>
    </tr>
    <tr>
        <th>Trip Length:</th><td>{{trip['length']}} {% if trip['length'] == '1' %}day{% else %}days{% endif %}</td>
    </tr>
    <tr>
        <th>Activity Level:</th><td>{{trip['level']}}</td>
    </tr>
    <tr>
        <th>Location:</th><td>{{trip['location']}}</td>
    </tr>
    <tr>
        <th>Cost:</th><td>${{trip['cost']}}</td>
    </tr>
    <tr>
        <th>Trip Leader:</th><td>{{trip['leader']}}</td>
    </tr>
    <tr>
        <th>Description:</th><td>{{trip['description']}}</td>
    </tr>
</table>

<form action="{{url_for('del_trip', trip_id=trip_id)}}" method="POST" name="delete_form">
    <a class="btn btn-primary btn-lg px-4 gap-3" href="{{url_for('trip',trip_id=trip_id)}}" role="button">Return to Trip</a>
    <button type="submit" value="Submit" class="btn btn-danger btn-lg px-4 gap-3">Delete</button>
</form>
{% endblock %}