{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1 class="mt-5">Outdoor Adventures</h1>
    <p>Welcome! This is the homepage for <b>Outdoor Adventures</b>!</p>
    <p>We plan and participate in monthly trips across the country and this site is where we organize our trips!</p>
    <p>The pic below was taken at out 2021 trip to Ohio!</p>
    <img class="img-fluid" src="{{url_for('static',filename='images/landfill.jpg')}}" alt="breathtaking view">
{% endblock %}







