{% extends "base.html" %}
{% block title %}Members{% endblock %}
{% block content %}
<h1 class="mt-5">Outdoor Adventuring Club Members</h1>
<div class="container">
    <table class="table table-hover">
        <thread>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>        
            </tr>
        </thread>
        <tbody>
            {% for m in member_info %}
            <tr>
                <td>{{m['name']}}</td>
                <td>{{m['dob']}}</td> 
                <td>{{m['email']}}</td>
                <td>{{m['address']}}</td> 
                <td>{{m['phone']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!--add button, add a member, goes to member form-->
<div class="mx-auto" style="width: 200px">
    <a class="btn btn-primary btn-lg px-4 gap-3" href="{{url_for('add_member')}}" role="button">Add A Member</a>
</div>
{% endblock %}