{% extends "base.html" %}
{% block title %}Trip Info{% endblock %}
{% block content %}
    <h1 class="mt-5">{{trip['name']}}</h1>
    <table class="table">
        <tr>
            <th>Start Date:</th><td padding-left="50px">{{trip['start_date']}}</td>
        </tr>
        <tr>
            <th>Trip Length:</th><td>{{trip['length']}} {% if trip['length'] == '1' %}day{% else %}days{% endif %}</td>
        </tr>
        <tr>
            <th>Activity Level:</th><td>{{trip['level']}}</td>
        </tr>
        <tr>
            <th>Location:</th><td>{{trip['location']}}</td>
        </tr>
        <tr>
            <th>Cost:</th><td>${{trip['cost']}}</td>
        </tr>
        <tr>
            <th>Trip Leader:</th><td>{{trip['leader']}}</td>
        </tr>
        <tr>
            <th>Description:</th><td>{{trip['description']}}</td>
        </tr>
    </table>
<!--add button, add a trip
    goes to trip form-->
<a class="btn btn-primary btn-lg px-4 gap-3" href="{{url_for('edit_trip',trip_id=trip_id)}}" role="button">Edit Trip</a>
<a class="btn btn-danger btn-lg px-4 gap-3" href="{{url_for('del_trip',trip_id=trip_id)}}" role="button">Delete Trip</a>
{% endblock %}