{% extends "base.html" %}
{% block title %}Trips{% endblock %}
{% block content %}
<h1 class="mt-5">Outdoor Adventures Company Trips</h1>
<div class="container">
    <table class="table table-hover">
        <thread>
            <tr>
                <th scope="col">Trip Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">Trip Length</th>
                <th scope="col">Location</th>
                <th scope="col">Cost</th>        
            </tr>
        </thread>
        <tbody>
            {% for trp in trips_info %}
            <tr>
                <td><a href="{{url_for('trips',trip_info=trip_info)}}">{{trp['name']}}</a></td>
                <td>{{trp['start_date']}}</td> 
                <td>{{trp['length']}}</td>
                <td>{{trp['location']}}</td> 
                <td>{{trp['cost']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}







