{% extends "base.html" %}
{% block title %}Trips{% endblock %}
{% block content %}
<h1 class="mt-5" padding-top="50">Outdoor Adventures Company Trips</h1>
<div class="container" padding-top="25">
    <table class="table table-hover">
        <thread>
            <tr>
                <th scope="col">Trip Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">Trip Length</th>
                <th scope="col">Location</th>
                <th scope="col">Cost</th>        
            </tr>
        </thread>
        <tbody>
            {% for trp in trips_info %}
            <tr>
                <td><a href="{{url_for('trip', trip_id=trp['id'])}}">{{trp['name']}}</a></td>
                <td>{{trp['start_date']}}</td> 
                <td>{{trp['length']}} {% if trp['length'] == '1' %}day{% else %}days{% endif %}</td>
                <td>{{trp['location']}}</td> 
                <td>${{trp['cost']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Add 2 buttons 
Edit and Delete-->
<div class="mx-auto" style="width: 200px">
    <a class="btn btn-primary btn-lg px-4 gap-3" href="{{url_for('add_trip')}}" role="button">Add A Trip</a>
</div>
{% endblock %}







